.Ajustes {
    background-color: aqua;
}

.button-mute-music {
    background-color: #3498db;
    color: #fff;
}

.button-mute-game {
    background-color: #3498db;
    color: #fff;
}

.button-Exit {
    background-color: #d22626;
    color: #fff;
}

.button-mute-music {
    background-color: #3498db;
    color: #fff;
}

.button-mute-game {
    background-color: #3498db;
    color: #fff;
}

.button-Exit {
    background-color: #d22626;
    color: #fff;
}