body {
    background-image: url("./Interfaz3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.pausa {
    color: black;
    border: 2px solid rgb(15, 29, 228);
    border-radius: 25px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 blue;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;   
}
.pausa{background-color: white; border: 2px solid #007bff;}
.pausa:hover{box-shadow: inset 400px 50px 0 0 blue;
    background: #0b7dda; color: white;}

.moverBoton{
    text-align: center;
}